.row {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.absolute {
  position: absolute;
}

.column {
  flex-direction: column;
}

.width-100 {
  width: 100%;
}
