.row {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.column {
  flex-direction: column;
}

.width-100 {
  width: 100%;
}

.space-evenly {
  justify-content: space-evenly;
}

.col-half {
  width: 50%;
}
