.header {
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}

.title {
  margin: 0.5rem;
  padding: 1rem;
}

.hamburger {
  font-size: 30px;
  margin: 1rem;
}

.hamburger:hover {
  cursor: pointer;
}

.baseball-size {
  height: 2em;
  width: 2em;
  margin-left: 9px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.remove-margin {
  margin: 0;
}

.mobile-date-font {
  font-size: 10px;
}

.mobile-width-30 {
  width: 35%;
}

.mobile-width-70 {
  width: 65%;
}

.player-width-height-background-border {
  background-color: #e9f0f1;
  border-radius: 15px;
  width: 90%;
  height: 10em;
}

.games-width-height-background-border {
  background-color: #e4f1f5;
  border-radius: 15px;
  width: 90%;
  height: 10em;
}

.container-background {
  background-color: rgb(209, 230, 230);
  width: 90%;
  height: 550px;
  border-radius: 15px;
  overflow: scroll;
}

.container-background::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.black {
  background-color: #24252a;
}

.white-font {
  color: rgb(247, 241, 241);
}

.black-font {
  color: #24252a;
}

.background {
  background-color: rgba(116, 106, 106, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.font-13 {
  font-size: 13px;
}

.app-drawer {
  width: 250px;
  height: 100vh;
  background-color: white;
  right: 0;
}

.hide-drawer {
  right: -300px;
}

ul {
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.list-item {
  list-style: none;
  padding: 10px 0;
  text-align: center;
  animation: slide-up 1s ease;
}

@keyframes slide-up {
  0% {
    transform: translateY(90px);
  }

  100% {
    transform: translateY(0);
  }
}

li:hover {
  background-color: #6de7b9;
  transition: 0.5s;
}

.list-item:hover a {
  color: white;
  transition: all 0.5s;
}

th,
td {
  text-align: center;
  padding: 3px 15px;
}

td {
  border-bottom: 1px solid rgb(37, 56, 139);
}

.circle {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  background-color: rgb(248, 217, 192);
}

.border-radius {
  border-radius: 50%;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div::after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #cef;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1)::after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2)::after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3)::after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4)::after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5)::after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6)::after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7)::after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8)::after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 1280px) {
  .header {
    justify-content: space-between;
  }

  .container-background {
    width: 35%;
  }

  .player-width-height-background-border {
    width: 30%;
  }

  .games-width-height-background-border {
    width: 95%;
  }

  .mobile-width-30 {
    width: 50%;
  }

  .mobile-width-70 {
    width: 50%;
  }

  .mobile-date-font {
    font-size: 15px;
  }
}
