.header {
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}

.title {
  margin: 0.5rem;
  padding: 1rem;
}

.hamburger {
  font-size: 30px;
  margin: 1rem;
}

.black {
  background-color: #24252a;
}

.white {
  color: rgb(247, 241, 241);
}

.background {
  background-color: rgba(116, 106, 106, 0.5);
  width: 100vw;
  height: 100vh;
}

.app-drawer {
  width: 250px;
  height: 100vh;
  background-color: white;
  right: 0;
}

.hide-drawer {
  right: -300px;
}

ul {
  padding-left: 0;
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
  padding: 1rem 0;
  text-align: center;
}

li:hover {
  background-color: #5f9aa4;
  transition: 0.5s;
}

li:hover a {
  color: white;
  transition: all 0.5s;
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: space-between;
  }
}
