.header {
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}

.title {
  margin: 0.5rem;
  padding: 1rem;
}

.hamburger {
  font-size: 30px;
  margin: 1rem;
}

.baseball-size {
  height: 2em;
  width: 2em;
  margin-left: 9px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.remove-margin {
  margin: 0;
}

.mobile-date-font {
  font-size: 12px;
}

.mobile-width-30 {
  width: 40%;
}

.mobile-width-70 {
  width: 60%;
}

.width-height-background-border {
  background-color: #c9e5eb;
  border-radius: 15px;
  width: 90%;
  height: 10em;
}

.black {
  background-color: #24252a;
}

.white-font {
  color: rgb(247, 241, 241);
}

.black-font {
  color: #24252a;
}

.background {
  background-color: rgba(116, 106, 106, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.font-13 {
  font-size: 13px;
}

.app-drawer {
  width: 250px;
  height: 100vh;
  background-color: white;
  right: 0;
}

.hide-drawer {
  right: -300px;
}

ul {
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.list-item {
  list-style: none;
  padding: 10px 0;
  text-align: center;
}

li:hover {
  background-color: #6de7b9;
  transition: 0.5s;
}

.list-item:hover a {
  color: white;
  transition: all 0.5s;
}

th,
td {
  text-align: center;
  padding: 3px 15px;
}

td {
  border-bottom: 1px solid rgb(37, 56, 139);
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: space-between;
  }

  .width-height-background-border {
    width: 30%;
  }

  .mobile-width-30 {
    width: 50%;
  }

  .mobile-width-70 {
    width: 50%;
  }

  .mobile-date-font {
    font-size: 15px;
  }
}
